.benefits {
  display: flex;
}
.benefits__item {
  max-width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.benefits__block {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bgr-color);
  align-items: center;
  justify-content: center;
}
.benefits__icon {
  height: 70px;
  width: 70px;
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  
}
.benefits__text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
