.filter__table {
  display: flex;
  flex-wrap: wrap;
   margin-bottom: 40px;

  // @include mobile-max {
  //   margin-left: -8px;
  // }

  @include tablet {
    justify-content: center;
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-right: 8px;
  margin-bottom: 15px;

  
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(n+4){
      margin-bottom: 0;
    }
      @include tablet {
    margin-bottom: 0;
  }
  
}

.filter-btm {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-whity-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__btm--activ {
  background-color: var(--accent-color);
  color: var(--primary-whity-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}
