.header__container {
  display: flex;
}
.header-logo {
 
  color: var(--logo-color);
 
  padding-top: 24px;
  margin-right: 93px;
  padding-bottom: 25px;
}
.header-logo__color {
  color: var(--accent-color);
}

.nav-table {
  display: flex;
}
.nav-table__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.nav-table__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  padding: 32px 0;
  display: block;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    
    &::after {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}

.nav-table__link::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -1.5px;
  opacity: 0;
  transition-property: transform background opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
}

.nav-table__link--activ::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -1.5px;
  transform: scale(1);
  opacity: 1;
}
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:first-child {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--link-color);
  fill: var(--link-color);
  text-decoration: none;
  padding: 32px 0;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
}
