.network {
  margin-left: 70px;
}
.network__title {
  font-weight: 700;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-whity-color);
  margin-bottom: 20px;
}

.network-footer {
  display: flex;
}

.network-footer__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.network-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--primary-whity-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.network-footer__icon {
  width: 20px;
  height: 20px;
}
